* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headerlinks {color:white;
word-spacing: 18px;}

.col-3 {text-align: right;}

main {margin: 30px 40px}

.catalogue {display:inline}

.btnspace {margin-left:570px;}

.even {background-color: rgb(240, 240, 240);}